In [1]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import TimeoutException,WebDriverException
from selenium.webdriver.common.action_chains import ActionChains
import pandas as pd
from hook import return_last_date

In [2]:
from database_handler import create_connection,execute_query,return_data_as_df
from hook import create_etl_last_date,insert_into_last_date
from misc_handler import return_specs_df,extract_all_reviews
from cleaning_dfs_handler import clean_reviews_gsm,clean_reviews_reddit,clean_specs

In [3]:
driver = webdriver.Chrome()
options = Options()
options.add_argument('--headless')
driver = webdriver.Chrome(options=options)

In [ ]:
db_session=create_connection()
create_etl_last_date('product_analyzer',db_session)
insert_into_last_date('product_analyzer',db_session)

In [4]:
specs_df=return_specs_df('https://www.gsmarena.com/apple_iphone_12-10509.php',driver)

In [5]:
reviews_df=extract_all_reviews('https://www.gsmarena.com/apple_iphone_12-10509.php',driver)

In [6]:

specs_df=clean_specs(specs_df)
reviews_df=clean_reviews_gsm(reviews_df)

c:\Users\lenovo\Desktop\SE_Factory\fsd_tech_product_analyzer\cleaning_dfs_handler.py:42: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  return_df.columns=return_df.columns.str.replace(".","_")

In [7]:
product_id=specs_df.iloc[0,0]

In [9]:
db_session=create_connection()
last_date_df=return_last_date(product_id,'product_analyzer',db_session)

c:\Users\lenovo\Desktop\SE_Factory\fsd_tech_product_analyzer\database_handler.py:51: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return_dataframe = pd.read_sql_query(con= db_session, sql= file_executor)

In [17]:
reviews_df

               User_Name  ...                                        Review_Text
0                Exikias  ...  prince, 18 Oct 2023\nyes after 17.0.3 , batter...
1              Anonymous  ...  Aadrian, 23 Aug 2023\nI recently purchased an ...
2                 prince  ...  Umair, 06 Oct 2023\nAnybody noticed battery li...
3                 Adeins  ...  Umair, 06 Oct 2023\nAnybody noticed battery li...
4                  Umair  ...  Anybody noticed battery life improvement with ...
...                  ...  ...                                                ...
1042            Nzo HARU  ...  This is the one to go for! The one for most pe...
1043              Masoud  ...                Charger headphone 60hz 12mp notch ðŸ˜„
1044       zack malaysia  ...                             i want buy this iphone
1045              agofcl  ...  It's the perfect phone IMO, neither small like...
1046  uraverageintrovert  ...  i thought the 12 series will be capable of rec...

[1046 rows x 5 columns]

In [26]:
if len(last_date_df)>0:
        reviews_gsm_df=reviews_gsm_df.loc[(reviews_gsm_df['Date']>pd.to_datetime(last_date_df.iloc[0,0]))]

In [27]:
reviews_gsm_df

   User_Name  ...                                        Review_Text
0    Exikias  ...  prince, 18 Oct 2023\nyes after 17.0.3 , batter...
1  Anonymous  ...  Aadrian, 23 Aug 2023\nI recently purchased an ...
2     prince  ...  Umair, 06 Oct 2023\nAnybody noticed battery li...
3     Adeins  ...  Umair, 06 Oct 2023\nAnybody noticed battery li...

[4 rows x 5 columns]